.container {
  display: block;
  .fixedContent {
    width: 100%;
    position: sticky;
    top: 0;
    height: fit-content;
    overflow: auto;
    z-index: 2;
    background: linear-gradient(135deg, #2dd4bf 0%, #3b82f6 50%, #9333ea 100%);
  }
  .scrollableContent {
    width: 100%;
    position: relative;
    overflow: auto;
  }
}

@media (min-width: 500px) {
  .container {
    display: flex;
    .fixedContent {
      width: 40%;
      position: sticky;
      top: 0;
      height: 100vh;
      overflow: auto;
    }
    .scrollableContent {
      width: 60%;
      overflow: auto;
    }
  }
}
